<footer class="text-center text-white fixed-bottom" style="background-color: #1522a0;">

  <!-- Copyright -->
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Renārs AbeļūnsDDDD
  </div>
  <!-- Copyright -->
</footer>